.bg {
  background-image: url("https://images.pexels.com/photos/943096/pexels-photo-943096.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}